version: "3.9"
services:
  twitch-announcer:
    build: .
    restart: unless-stopped
    environment:
      TWITCH_CLIENT_ID: ${TWITCH_CLIENT_ID}
      TWITCH_CLIENT_SECRET: ${TWITCH_CLIENT_SECRET}
      TWITCH_USER_ACCESS_TOKEN: ${TWITCH_USER_ACCESS_TOKEN}
      DISCORD_SYSTEM_WEBHOOK: ${DISCORD_SYSTEM_WEBHOOK}
      DISCORD_WEBHOOK_LOOP_TRACE: ${DISCORD_WEBHOOK_LOOP_TRACE}
      DISCORD_WEBHOOK_PACKET_GHOST: ${DISCORD_WEBHOOK_PACKET_GHOST}
      DISCORD_WEBHOOK_REDACTED: ${DISCORD_WEBHOOK_REDACTED}
      DISCORD_WEBHOOK_AUX_PROC: ${DISCORD_WEBHOOK_AUX_PROC}
    volumes:
      - ./config.yaml:/app/config.yaml:ro
      - ./state.json:/app/state.json
